#s-af8098a5-7a45-46d3-885a-b6add8687cfb > #backgroundBox {
  position: absolute;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb > #alignmentBox {
  position: relative;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 .valign {
  vertical-align: middle;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.25pt;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  min-height: 11.25pt;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_2 .icon {
  top: 13.5px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 .valign {
  vertical-align: middle;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Category_1 table {
  display: table-cell;
  vertical-align: top;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Category_1 table tbody {
  display: inline-grid;
  gap: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Category_1 {
  position: absolute;
  width: 200.0px;
  height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 {
  position: absolute;
  width: 62.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-af8098a5-7a45-46d3-885a-b6add8687cfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}