*{
  box-sizing:border-box;
} 

body{
  margin: 0;
  background-color:beige;
  font-family: Arial, Helvetica, sans-serif;
}

/* for all the forms with black background */
.textfield_label{
  color:gray !important;
}

.errormsg{
  color:rgb(153, 35, 35)
}