/* div.container > div > div:nth-child(2) > div > form > form > div > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.table.css-11xur9t-MuiPaper-root-MuiTableContainer-root > table > tbody   {
    background: #01010135;
    color: aliceblue;
}

th{
    background: #f1f0f0c5;
    color: rgb(5, 25, 43);
} */

.table .cellWrapper {
    display: flex;
    align-items: center;

}
.table .cellWrapper .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.table .status {
    padding: 5px;
    border-radius: 5px;
}
.table .status.Approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.table .status.Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}
